.container{
	height: 100%;
	margin: 0 auto;

}

.title {
	text-align: center;
}

.wrapper{
	width: 50%;
	margin: 0 auto;
}

.form{
	width: 200px;
}
.form, .submit{
	display: inline-block;
	text-align: center;
}
	

